.todos ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todos li {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 0.1em solid;
}
.todos li button {
  float: right;
  background: #fff;
  border: none;
}
.todos li button:hover {
  background: pink;
}

.todos li.dark {
  background: rgb(79, 197, 79);
}

.todos li.light {
  background: #00ddff4f;
}
